<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taif.polio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Common.SigninSignup.DataShowActivity"></activity>
        <activity android:name=".Common.SigninSignup.AddDataActivity" />
        <activity android:name=".Common.SigninSignup.SinInOTPActivity" />

        <activity android:name=".Common.SigninSignup.LoginOTP" />
        <activity android:name=".Common.SigninSignup.Login" />

        <activity
            android:name=".NavigationDrawer.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Common.SigninSignup.SignUp2ndClass" />
        <activity android:name=".Common.SigninSignup.SignUp" />
        <activity
            android:name=".Common.WelcomeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Common.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>